.pd-3 {
  padding: 5rem;
}

.containerInput {
  align-items: end;
  right: 0;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 15px;
}

.inputBuscar {
  width: 50% !important;
}

.margin-l {
  margin-left: 70px;
}

.card {
  border: none !important;
}

.color {
  color: white !important;
}

.btn-white {
  color: white;
  border-color: white;
}

.margin_right {
  margin-right: 90px;
}

.ant-badge-count {
  top: -14px !important;
  right: -14px !important;
  background: #17a2b8 !important;
}

.style-bread {
  margin-left: 70px;
}

.style-form {
  margin-top: 12px;
  width: 25%;
}

.mg {
  margin-bottom: 12px;
}

.btn-cart {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #198754;
  border-color: #198754;
}

.btn-cart:hover {
  color: #fff;
  background-color: #157347;
  border-color: #146c43;
}

.containerSelect {
  align-items: end;
  right: 0;
  padding-bottom: 15px;
}

.navbar {
  padding-top: 0.8rem;
}

.spinner {
  margin-top: 94px;
  margin-left: 64rem;
}

.spinner-border {
  width: 5rem;
  height: 5rem;
}

.ant-breadcrumb {
  font-size: 18px;
  margin-left: 5rem;
}

.ant-breadcrumb > span:last-child {
  color: green;
  font-weight: 700;
}

.ant-breadcrumb a {
  color: white;
}

.ant-breadcrumb-separator {
  margin: 0 9px;
  color: white;
}

.ant-breadcrumb > span:last-child a {
  color: green;
  font-weight: 700;
}
